BLOB_READ_WRITE_TOKEN=****

# Get your Google Gemini API Key here https://cloud.google.com/vertex-ai
GOOGLE_GENERATIVE_AI_API_KEY=****

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

VERCEL_OIDC_TOKEN=****

POSTGRES_URL=****

VERCEL_OIDC_TOKEN=****